body{
    background-image: url(https://i.pinimg.com/originals/84/ae/ae/84aeaec6b6e64730b07610a8474022ca.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.paragraph_text{
    text-align: center;
}

#content-wrapper{
    position: relative;
    width: 80%;
    height: 100%;
    background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 10px;
    margin: 10px auto;
}

#user-form{
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    background: transparent;
    
}

#submit-form{
    border: 2px solid white;
    border-radius: 20px;
    outline: none;
    background: transparent;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    text-align: center;
}
h2{
    text-align: center;
    color: white;
}

::placeholder{
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    padding: 10px;
}

.myForm{
    max-width: 230px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #fff;
    cursor: pointer;
}

#p1{
    color: white;
}

#welcomeMessage{
    color: white;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
}